/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');

// fonts
$font-family-sans-serif: 'Droid Serif', 'Palatino Linotype', 'Book Antiqua', Palatino, 'Microsoft YaHei', 'Songti SC', serif;

// colors
$body-bg: #FEFBF6;
$body-color: #3D3C42;
$link-color: #3b759e;
$selection-bg: #134674;
$link-color: #A6D1E6;

// headings
$presentation-heading-font: "Roboto Condensed", sans-serif;
$presentation-heading-text-transform: uppercase !default;
$presentation-heading-font-weight: bold;
$presentation-heading-color: #7F5283;


a:link {
  font-weight: bold;
}

a:visited {
  font-weight: bold;
}
